
body.receipt-page,
body.sign-on-page {
	margin: 20px;
	font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande", "Geneva", "Trebuchet MS", "sans-serif";
	color: rgba(39, 99, 140, 1.0);
	font-size: 16px;
}

body.sign-on-page a,
body.receipt-page a {
	color: rgba(39, 99, 140, 1.0);
	margin: 0px;
}

div.sign-on-view {
	margin-left: auto;
	margin-right: auto;
}

input.sign-on {
	display: block;
	padding-left: 10px;
	padding: 5px;
	margin-left: 10px;
	margin: 5px;
	border: 1px solid rgba(39, 99, 140, 1.0);
	margin-bottom: 15px;
	font-size: 16px;
	padding-top: 7px;
}

p,
label {
	margin-left: 5px;
	color: #a9a9a9;
	padding-left: 5px;
}

p {
	line-height: 1.2em;
}

input.sign-on.ok {
	margin-top: 20px;
	background-color: rgba(39, 99, 140, 1.0);
	color: rgba(255, 255, 255, 1.0);
	cursor: pointer;
	display: inline-block;
}

#message {
	margin-left: 5px;
	color: rgba(200, 0, 0, 1.0);
}

#message-view {
	padding: 5px;
	margin-bottom: 10px;
}
