<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>DeepaMehta Sign-on</title>
		<link rel="stylesheet" href="/org.deepamehta.sign-on/style/style.css" type="text/css" />
    </head>

    <body class="sign-on start-page">
		<div id="sign-on-view">
			<h2>DeepaMehta Sign-on</h2>
            <p>
                You can request a DeepaMehta Account simply by authenticating with your
                <a href="/sign-on/openid/google">Google</a> or <a href="/sign-on/openid/yahoo">Yahoo</a> account.<br/><br/>
            </p>
            <b>Note:</b>
            <ul>
                <li>In the beginning your new account will not be password protected. <br/>So <i>as soon as you're logged in</i> with your new account set your personal password to prevent unwanted access.</li>
                <li>Your E-Mail identifier (basically all characters before the @-sign) will make up your username.</li>
                <li>We will not store or associate your full E-Mail Address with your new account.</li>
            </ul>
            <p>
                For the purpose of authentication you will be redirected to the authentication dialog/website of the OpenID-Provider selected above.<br/><br/>
                Thanks for reading.
            </p>

		</div>
    </body>

</html>
