<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>DeepaMehta Sign-on</title>
		<link rel="stylesheet" href="/org.deepamehta.sign-on/style/style.css" type="text/css" />
    </head>

    <body class="sign-on-page">
		<div id="sign-on-view">
			<h2>DeepaMehta Sign-on</h2>
			You can request a new DeepaMehta Account or simply login via <a href="/sign-on/openid/google">Google</a> or <a href="/sign-on/openid/yahoo">Yahoo</a>.
		</div>
    </body>

</html>
