<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>Signed on to DeepaMehta</title>
		<link rel="stylesheet" href="/org.deepamehta.sign-on/style/style.css" type="text/css" />
    </head>

    <body class="receipt-page">
		<div id="receipt-view">
            <h2 th:text="${title}">Successfull request</h2>
			<p>
                We received your request and successfully created a new user account for you with the following details:
                <span th:text="'Username: '+${username}">New Username</span>
                <span th:text="'OpenID: '+${openid}">OpenID-URI</span>
			</p>
			<p>
                Please protect your new account by logging in and setting a password immediately.<br/><br/>
				You can now <a href="/de.deepamehta.webclient">start using</a> DeepaMehta.
			</p>
		</div>
    </body>

	<noscript>
		Without JavaScript we cannot interactively check if your desired username is not already taken and
		we cannot check in advance if your chosen password meets our minimum requirements for passwords (min. 9 signs).
		Your account creation may thus just fail. Thanks for your understanding.
	</noscript>

</html>
